{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<h2 class="">Content de vous revoir !</h2>
<h2 class=" ">Connectez-vous</h2>




{% endblock %}