{# templates/chat/chat.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Votre code HTML -->
</head>
<body>
{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.Content) }}
        {{ form_row(form.send) }}
    {{ form_end(form) }}

    <div id="chat"></div>
    


{% endblock %}


</body>
</html>
